/* Satoshi */
@font-face {
  font-family: 'Satoshi-Light';
  src: url('../font/satoshi/Satoshi-Light.woff2') format('woff2'),
       url('../font/satoshi/Satoshi-Light.woff') format('woff'),
       url('../font/satoshi/Satoshi-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Regular';
  src: url('../font/satoshi/Satoshi-Regular.woff2') format('woff2'),
       url('../font/satoshi/Satoshi-Regular.woff') format('woff'),
       url('../font/satoshi/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Medium';
  src: url('../font/satoshi/Satoshi-Medium.woff2') format('woff2'),
       url('../font/satoshi/Satoshi-Medium.woff') format('woff'),
       url('../font/satoshi/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Bold';
  src: url('../font/satoshi/Satoshi-Bold.woff2') format('woff2'),
       url('../font/satoshi/Satoshi-Bold.woff') format('woff'),
       url('../font/satoshi/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Black';
  src: url('../font/satoshi/Satoshi-Black.woff2') format('woff2'),
       url('../font/satoshi/Satoshi-Black.woff') format('woff'),
       url('../font/satoshi/Satoshi-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

/* IntegralCF */

@font-face {
  font-family: 'IntegralCF-Regular';
  src: url('../font/IntegralCF/IntegralCF-Regular.woff2') format('woff2'),
       url('../font/IntegralCF/IntegralCF-Regular.woff') format('woff'),
       url('../font/IntegralCF/IntegralCF-Regular.eot') format('eot');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'IntegralCF-Medium';
  src: url('../font/IntegralCF/IntegralCF-Medium.woff2') format('woff2'),
       url('../font/IntegralCF/IntegralCF-Medium.woff') format('woff'),
       url('../font/IntegralCF/IntegralCF-Medium.eot') format('eot');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'IntegralCF-Bold';
  src: url('../font/IntegralCF/IntegralCF-Bold.woff2') format('woff2'),
       url('../font/IntegralCF/IntegralCF-Bold.woff') format('woff'),
       url('../font/IntegralCF/IntegralCF-Bold.eot') format('eot');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'IntegralCF-ExtraBold';
  src: url('../font/IntegralCF/IntegralCF-ExtraBold.woff2') format('woff2'),
       url('../font/IntegralCF/IntegralCF-ExtraBold.woff') format('woff'),
       url('../font/IntegralCF/IntegralCF-ExtraBold.eot') format('eot');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
